////////////////////////////////////////////////////////////////////////////////
// Brand Colours
////////////////////////////////////////////////////////////////////////////////

// Pink
$brand-pink: #f4b1af;

// Black
$brand-black: #1f2023;

// White
$brand-white: #f0f0f4;

////////////////////////////////////////////////////////////////////////////////
// Support Colours
////////////////////////////////////////////////////////////////////////////////

//Status
$success: #03E1B9;

// Grey
$grey-100: #f7f5f3;
$grey-200: #77787b;
$grey-300: #2c2f34;
