@font-face {
  font-family: "matter";
  src: url("./../../assets/fonts/MatterSQTRIAL-Regular.woff");
  src: url("./../../assets/fonts/MatterSQTRIAL-Regular.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/MatterSQTRIAL-Regular.woff2") format("woff2"), url("./../../assets/fonts/MatterSQTRIAL-Regular.woff") format("woff"), url("./../../assets/fonts/MatterSQTRIAL-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "matter";
  src: url("./../../assets/fonts/MatterSQTRIAL-SemiBold.woff");
  src: url("./../../assets/fonts/MatterSQTRIAL-SemiBold.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/MatterSQTRIAL-SemiBold.woff2") format("woff2"), url("./../../assets/fonts/MatterSQTRIAL-SemiBold.woff") format("woff"), url("./../../assets/fonts/MatterSQTRIAL-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}
