@import './../../scss/settings/colours';
@import './../../scss/settings/objects';
@import './../../scss/settings/media-queries';

.word-letter {
    font-family: 'matter', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    padding: 3px;
    margin: 0.25rem;
    color: $grey-200;
    border-radius: 4px;
    transition: color 0.25s ease;
    user-select: none;
    transition: all 0.25s ease;
    &:hover {
        cursor: pointer;
        color: $brand-white;
        transition: color 0.25s ease;
    }
    &--selected,
    &--found {
        background: $brand-black;
        transition: all 0.25s ease;
        &:hover {
            cursor: auto;
        }
    }
    &--selected {
        color: $brand-pink;
        &:hover {
            color: $brand-pink;
        }
    }
    &--found {
        color: $success;
        &:hover {
            color: $success;
        }
    }
}

@include tablet {
    .word-letter {
        font-size: 2rem;
        padding: 10px;
    }
}

@include notebook {
    .word-letter {
        font-size: 3rem;
        line-height: 1.5rem;
        padding: 1.75rem;
        margin: 0.5rem;
    }
}