@import './../../scss/settings/colours';
@import './../../scss/settings/objects';

.puzzle-solved-popup {
    font-weight: bold;
    color: $grey-100;
    background: $brand-black;
    border-radius: $border-radius;
    padding: 4rem;
    white-space: nowrap;
    text-align: center;
    &__highlight {
        color: $brand-pink;
    }
}